body {
	margin: 0;
	padding: 50px 0 0;
	background-color:#333;
	color: white;
  font-size: 16px;
	line-height: 1em;
	font-family:'brandon-grotesque',sans-serif;
	font-style: normal;
	background-color: #33404c;
	background-image: -webkit-linear-gradient(15deg, #33404c 50%, #727e89 100%);
	background-image: -o-linear-gradient(15deg, #33404c 50%, #727e89 100%);
	background-image: linear-gradient(15deg, #33404c 50%, #727e89 100%);
}
body.subpage {
	background-color: #2a343e;
	background-image: -webkit-linear-gradient(15deg, #33404c 50%, #464e56 100%);
	background-image: -o-linear-gradient(15deg, #33404c 50%, #464e56 100%);
	background-image: linear-gradient(15deg, #33404c 50%, #464e56 100%);
}
body#faq {
  padding-top: 0;
}

body#faq .container {
  padding-top: 120px;
}

a {
	text-decoration: underline;
	color: inherit;
}
a:hover {
	text-decoration: underline;
	color: #e24867;
}
p {
	font-size: 14px;
}


/** NAVBAR **/
.navbar-inverse {
  background-image: none;
  background-color: rgba(45,59,71,0.85);
}
.navbar a {
  text-decoration: none;
}
.navbar a:hover {
  text-decoration: none;
}
.navbar-collapse .navbar-nav.navbar-right:last-child {
  margin-right: -6px;
}
#navbarLogo {
  vertical-align: middle;
  height: 36px;
  margin-top: 6px;
  padding: 0;
}
.navbar-brand {
  padding-top: 8px;
  padding-bottom: 8px; 
  height: 64px;
}
.navbar-nav > li > a {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 300;
}
.navbar-toggle {
  height: 64px;
}

.table > tbody > tr > th {
	border-top: none;
	font-size: 14px;
}
.table > tbody > tr > td {
	border-top: none;
	font-size: 14px;
}

table.def {
	width: 100%;
	border-top: 1px solid #cee1f2;
	border-left: 1px solid #cee1f2;
}
table.def th {
	width: 110px;
	padding: 8px 15px 6px;
	border-right: 1px solid #cee1f2;
	border-bottom: 1px solid #cee1f2;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	background-color: rgba(63,63,63,0.43);
}
table.def td {
	padding: 8px 15px 6px;
	border-right: 1px solid #cee1f2;
	border-bottom: 1px solid #cee1f2;
	font-size: 14px;
}

table.icon {
	width: 100%;
}
table.icon th {
	width: 90px;
	text-align: center;
}
table.icon td {
	padding: 0px 4px 0px;
	font-size: 14px;
}

table.attendeelist {
	width: 100%;
	border-top: 1px solid #cee1f2;
	border-left: 1px solid #cee1f2;
}
table.attendeelist th {
	padding: 8px 15px 6px;
	border-right: 1px solid #cee1f2;
	border-bottom: 1px solid #cee1f2;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	background-color: rgba(63,63,63,0.43);
}
table.attendeelist td {
	padding: 8px 15px 6px;
	border-right: 1px solid #cee1f2;
	border-bottom: 1px solid #cee1f2;
	font-size: 14px;
}

table.access {
	width: 100%;
	border-top: 1px solid #cee1f2;
	border-left: 1px solid #cee1f2;
}
table.access th {
	padding: 8px 15px 6px;
	border-right: 1px solid #cee1f2;
	border-bottom: 1px solid #cee1f2;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	background-color: rgba(63,63,63,0.43);
}
table.access td {
	width: 42%;
	padding: 8px 15px 6px;
	border-right: 1px solid #cee1f2;
	border-bottom: 1px solid #cee1f2;
	font-size: 14px;
}
#vocacontitle {
	text-align: center;
	margin-bottom: 30px;
}

h1 {
	margin: 20px 0 0px;
	padding: 0;
	font-size: 36px;
	line-height: 1em;
	font-weight: 100;
	text-shadow: 0 10px 20px #000;
}
h1.planlist {
	font-size: 1.5rem;
	font-weight: 300;
}
#titlelogo {
  width: 100%;
}
#changingRoom {
  width: 100%;
}
#nezMozzIcon {
  height: 80px;
  width: 80px;
}
.contents h1.pagetitle {
  margin-bottom: 1.5em;
  font-size: 38px;
  font-weight: 100;
  border: none;
}
.h1en {
	font-weight: 300;
	font-size: 38px;
}

h2 {
	margin: 0 0 10px;
	padding: 0;
	font-size: 16px;
	line-height: 1.6em;
	font-weight: 300;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size:14px;
}
dt {
	font-weight: 300;
}

.contents h1 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4em;
  text-shadow: none;
  border-bottom: 2px solid white;
}
.planheader h1 {
	font-size: 3rem;
	font-weight: 300;
	border: none;
	margin-bottom: .5em;
}
.planheader {
	margin-bottom: 1em;
	border-bottom: 1px solid #ccc;
	padding-bottom: 1em;
}
.plan {
  margin: 1.5em 0 0;
  padding: 0 0 1.5em;
  border-bottom : 1px solid #666;
}
.plan h1 {
  font-size: 20px;
  font-weight: 100;
  line-height: 1.4em;
  text-shadow: none;
  border-bottom: none;
  margin: 0 0 .5em;
  color: white;
}
.plan p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4em;
  margin: 0 0 .25em;
  padding: 0;
}
.plan .label {
  font-size: 12px;
  padding: .3em .6em .2em;
}
.plan .category {
  font-weight: 300;
  font-size: 14px;
  color: #ccc;
}
.plan .time {
  font-size: 14px;
  color: #ccc;
}

.plan .leader {
  font-weight: 300;
  font-size: 14px;
  color: #ccc;
  margin-bottom: 1em;
}
.plan .message {
  color: #f0f0f0;
}

.btn-lg {
	border-radius: 3px;
}
.btn-primary:active,
.btn-primary.active {
	background: #e24867;
	border: #b2174d;
}
.btn-info:active,
.btn-info.active,
.dropdown-toggle.btn-info {
	background: #1ABC9C;
	border: #1ABC9C;
}

iframe.twitter-share-button {
	width: 110px !important;
}
.socialbuttons {
	height: 30px;
	overflow: hidden;
	margin-bottom: 50px;
	padding-top: 4px;
	padding-bottom: 3px;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	background-color: rgba(63,63,63,0.43);
}
.snsboxouter {
	width: 298px;
	margin: 0 auto;
	padding: 0;
}
.snsbox {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	float: left;
}

/** TIMETABLE **/
.contents .timetable h1.day {
  font-size: 24px;
  font-weight: 100;
  border: none; 
}
.contents .timetable .zone h1 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5em;
  margin-top: 2em;
  margin-bottom: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid #ccc; 
}
.contents .timetable .zone .session {
  font-size: 18px;
  font-weight: 100;
  line-height: 1.75em;
  vertical-align: bottom;
}
.session .time {
  font-size: 14px;
  font-weight: bold;
  color: #aaa;
}
.session_en {
	line-height: 1.75em;
}
.session_en .time {
  font-size: 12px;
  font-weight: bold;
  color: #aaa;
}

.contents .timetable .zone .session .label {
  padding: .3em .6em .2em;
}


footer {
	margin: 40px 0 50px;
	padding: 0;
	text-align: center;
	font-size: 12px;
	line-height: 1.25em;
	color: #777;
	font-weight: 300;
	background: none;
}

dt {
  font-size: 18px;
  line-height: 1.4em;
  margin-bottom: 1em;
}
dd {
  color: #ccc;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 2em;
}
.linklist dt {
  font-size: 14px;
  line-height: 1em;
}

footer {
	margin: 40px 0 50px;
	padding: 0;
	text-align: center;
	font-size: 12px;
	line-height: 1.25em;
	color: #777;
	font-weight: 300;
	background: none;
}

#twitter-widget-1 { 
	width: 100% !important; 
}

@media (min-width: 768px) {
	body {
		padding: 50px 0 0;
	}
	h1 {
		font-size: 64px;
	}
	#titlelogo {
	  width: 750px;
	}
	.h1en {
		font-weight: 300;
		font-size: 66px;
	}
  #navbarLogo {
    vertical-align: middle;
    height: 42px;
    margin-top: 4px;
    padding: 0;
  }
  #changingRoom {
	  width: 100%;
  }
  #nezMozzIcon {
     height: 80px;
     width: 80px;
  }
}
